{% extends "blog/layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ post.title }}</h2>

            {% if post.photo %}
                <img src="{{ post.photo.url }}" alt="" style="max-width: 100%">
            {% endif %}
            
                {{ post.content|linebreaks }}
            
            <hr/>
            
            <h3>Comments </h3>
            
            <ul>
                {% for comment in post.comment_set.all %}
                    <li>
                        {{ comment.author }} :
                        {{ comment.message }}
                        at {{ comment.updated_at }}
                    </li>
                {% endfor %}
            </ul>

            <p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="float-right">
            </form>
            </p>

            <hr/>
            <a href="{% url 'blog:post_list' %}" class="btn btn-primary"> To list </a>
            <a href="{% url 'blog:post_edit' post.id %}" class="btn btn-default">Modify</a>
        </div>
    </div>
</div>

{% endblock %}
