<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Start Django</title>
</head>

<body>
    <h1>Start Django</h1>

    <form action="" method="GET">
        <input type="text" name="q" value="{{ q }}">
        <input type="submit" value="Search">
    </form>

    
    <ul>
        {% for post in post_list %}
            <li>
                {{ post.id }}
                {{ post.title}}
                by {{ post.author}}
                at {{ post.updated_at}}
            </li>
        {% endfor %}
    </ul>
    <p>It's just beginning</p>
</body>
</html>